@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
     <map name="Map">
       <area shape="rect" coords="78,45,312,119" href="index.html" alt="indext.html">
       <area shape="poly" coords="670,87,719,78,727,123,677,130" href="@Href("~/Default.cshtml")" alt="indext.html">
       <area shape="poly" coords="776,124,818,152,793,189,751,160" href="#" alt="indext.html">
       <area shape="poly" coords="834,52,885,61,878,105,828,96" href="@Href("~/ShopingCart.cshtml","null")"alt="indext.html">
	</map>
    </body>
</html>
