@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
     <div id="sidebar">
				<img src="~/Styles/images/title1.gif" alt="images/title1.gif" width="174" height="30" /><br />																																																																		
				<ul id="list">
					<li class="color"><a href="#">Seating</a></li>
					<li><a href="#">Storage</a></li>
					<li class="color"><a href="#">Surfaces</a></li>
					<li><a href="#">Sets</a></li>
					<li class="color"><a href="#">Sleeping</a></li>
					<li><a href="#">Lying</a></li>
					<li class="color"><a href="#">Entertainment</a></li>
					<li><a href="#">Acquarium furniture</a></a></li>
					<li class="color"><a href="#">Park furniture</a></li>
					<li><a href="#">Door furniture</a></li>
					<li class="color"><a href="#">Street furniture</a></li>
					<li><a href="#">Stadium seating</a></li>
					<li class="color"><a href="#">Hutch</a></li>
					<li><a href="#">Clothes valet</a></li>
					<li class="color"><a href="#">Garden furniture</a></li>
					<li><a href="#">Folding screen</a></a></li>
					<li class="color"><a href="#">Campaign Furniture</a></li>
				</ul>
			</div>   
    </body>
</html>
